.carousel-item {
    height: auto;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #whythegrass {
    text-align: center;
  }
  
  .borderwhite {
    border-width: 5px;
    border-color: white;
  }  
  
  /* Website Color Themes */
  /* Main Color */
  .main-f-color {
    color: rgb(112, 215, 94);
    transition: 0.4s;
  }
  /* Color when hovering by the mouse pointer */
  .main-f-color:hover {
    box-shadow: 0 0 7px 2px rgb(65, 179, 45);   
    color: rgb(65, 179, 45);   
    transition: 0.4s; 
  }
  
    /* Every TAG into Html files that uses this class, will
    get a gray color */
  
  .textgray {
    color: gray;
  }
  
    /* Every TAG into Html files that uses this class, will
    get a black color */
  
  .textblack {
    color: black;
  }
  
    /* Every TAG into Html files that uses this class, will
    get a black color */
  
    .textwhite {
      color: white;
    }
  
    /* Every TAG into Html files that uses this class, will
    get a gray background color */
  
  .backgray {
    background-color: rgb(248, 248, 248);
  }
  
  section div {
    text-align: center;
  }
  
  .center {
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  /* testimonials */
  
  
  #testimonials {
    padding: 1% 15%;
    text-align: center;
    color: white;
  }
  
  .testemonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  /* 
  #serverfeatures {
    text-align: left;
  }
  */
  
  /* Server features blocks */
  
  .featureboxes {
    border: 0px solid white;
    transition: 0.15s;
    width: auto;
    height: auto;
    text-align: center;
  }
  
  .featureboxes:hover {
    transition: 0.15s;
    transform: scale(1.01); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border-radius: 3px;
    text-align: center;
  }
  
  /* The following class resizes the images for features */
  .img-featureboxes {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    text-align: center;
  }
  
  /* For the Player count */
  .playercount {
    display: inline-block;
  }
  
  /* For the News. Should have a predetermined size */
  .img-news {
    max-width: 700px;
    max-height: 350px;
  }
  
  /* For footer Medias */
  
  .medias {
    color: gray;
    text-decoration: none;
    text-align: center;
  }
  
  .medias:hover 
  {
     color: gray;
     text-decoration: none; 
     cursor: pointer;  
  }
  
  .card-img-top {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    text-align: center;
    align-content: center;
    padding-top: 1rem;
  
  }
  .box1 {
    text-align: center;
   align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .jordad {
    color: #ffe5ff;
    font-size: 20px;
  }
  .jordad2:hover {
    color: #ffa9ff;
    text-decoration: none;
  }
  .a {
    color: #ffa9ff;
    text-decoration: none;
  }
  .jordad4 {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: .2rem;
  }
  .jordad5:hover {
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgb(255, 140, 255);
  }
  .card-header1 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff9ff; 
    border-bottom: 1px solid;
    rgb(255,225,255);
  }

  .btn1 {
    color: #ffa5ff;
    transition: none;
  }
  .jordad6:hover {
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgb(255, 140, 255);
  }
  .jordad7 {
    color: #ffe5ff;
  }

  .jordad8 {
    animation: wiggle 1.4s 1s forwards ease-out;
  }

  .jordad9 {
    animation: wiggle 1.4s 1.2s forwards ease-out;
  }

  .jordad10 {
    animation: wiggle 1.4s 1.4s forwards ease-out;
  }

  .jordad11 {
    animation: wiggle 1.4s 1.6s forwards ease-out;
  }

  .jordad12 {
    animation: wiggle 1.4s 1.8s forwards ease-out;
  }

  @keyframes wiggle {
  25% {
    transform: none;
  }
  50% {
    transform: rotateZ(0) scale(1.3);
  100% {
    transform: rotateZ(0) scale(1);
  }