.carousel-item {
  height: auto;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#whythegrass {
  text-align: center;
}

.borderwhite {
  border-width: 5px;
  border-color: white;
}  

/* Website Color Themes */
/* Main Color */
.main-f-color {
  color: rgb(255, 200, 255);
  transition: 0.4s;
}
/* Color when hovering by the mouse pointer */
.main-f-color:hover {
  box-shadow: 0 0 7px 2px rgb(255, 140, 255);   
  color: rgb(255, 140, 255);   
  transition: 0.5s; 
}

  /* Every TAG into Html files that uses this class, will
  get a gray color */

.textgray {
  color: gray;
}

  /* Every TAG into Html files that uses this class, will
  get a black color */

.textblack {
  color: black;
}

  /* Every TAG into Html files that uses this class, will
  get a black color */

  .textwhite {
    color: white;
  }

  /* Every TAG into Html files that uses this class, will
  get a gray background color */

.backgray {
  background-color: rgb(255, 245, 255);
}

section div {
  text-align: center;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* testimonials */


#testimonials {
  padding: 1% 15%;
  text-align: center;
  color: #FFE8FF;
}

.testemonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* 
#serverfeatures {
  text-align: left;
}
*/

/* Server features blocks */

.featureboxes {
  border: 0px solid white;
  transition: 0.15s;
  width: auto;
  height: auto;
  text-align: center;
}

.featureboxes:hover {
  transition: 0.15s;
  transform: scale(1.01); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border-radius: 3px;
  text-align: center;
}

/* The following class resizes the images for features */
.img-featureboxes {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  text-align: center;
}

/* For the Player count */
.playercount {
  display: inline-block;
}

/* For the News. Should have a predetermined size */
.img-news {
  max-width: 700px;
  max-height: 350px;
}

/* For footer Medias */

.medias {
  color: gray;
  text-decoration: none;
  text-align: center;
}

.medias:hover 
{
   color: #FFE8FF;
   text-decoration: none; 
   cursor: pointer;  
}

.card-img-top {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  text-align: center;
  align-content: center;
  padding-top: 1rem;
}

.notborder-success {
  box-shadow: 0 0 5px 2px rgb(255, 140, 255);   
  color: rgb(0, 0, 0);   
  transition: 0.5s; 
  background-color: rgb(255, 245, 255);
}
.notborder-successs {
  animation: waggle 1.7s 2s forwards ease-out;
  box-shadow: 0 0 5px 3px rgb(255, 140, 255);   
  color: rgb(255, 100, 255);   
  background-color: rgb(255, 245, 255);
  font-size: 20px;
  max-width: 800px;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}
@keyframes blinkingText{
    0%{ color: transparent; }
    3%{ color: transparent; }
    100%{ color: rgb(255, 140, 255); }
}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-20deg) scale(1.3);
  }
  60% {
    transform: rotateZ(25deg) scale(1.7);
  }
  67.5% {
    transform: rotateZ(-15deg) scale(1.7);
  }
  75% {
    transform: rotateZ(15deg) scale(1.7);
  }
  82.5% {
    transform: rotateZ(-12deg) scale(1.7);
  }
  85% {
    transform: rotateZ(0) scale(1.3);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}
